page-login {
    ion-title{
        text-align: center;
    }

    .buttonCenter{
        width: 70%;
        margin:auto;
    }

    .avatarLogin{
        width: 50%;
        margin: auto;
        margin-top: 5%;
    }

}
